:root {
  --fond : #0c273c;
  --rouge : #a80000;
}


/*************************/
*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: var(--fond);
	height : 100vh;
	font-family: Arial,Helvetica,sans-serif;
	overflow: hidden;
}

/*********************/

#title {
	cursor: pointer;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url('../index/steam.png');
}
.background:nth-child(3) {
  background-image: url('../index/travail.jpg');
}
/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 3;
}
.background:nth-child(2) {
  z-index: 2;
}
.background:nth-child(3) {
  z-index: 1;
}
.content-wrapper {
  height: 100vh;
  display: flex;	
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateY(40vh);
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  font-size: 12vh;
  line-height: 1.4;
}
.background.up-scroll {
  transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  transform: translateY(15vh);
}
.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}
.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}


/******************* vague ************************/

.accueil {
	height: 100%;
	width : 100%;
	background: #0c273c;
}

@media screen and (max-width : 450px) {
	.accueil {
		height: 85vh;
	}
}

.fond-curvy {
	width: 100%;
	position: absolute;
	left: 0;
	bottom:  5%;
	display: block;

}

.contenu {
	position: relative;
	z-index : 1000;
}


h1 {
	font-size: 90px;
	padding: 200px 0 0 10vw;
	position: relative;
	right: 8px;
	color:  #f1f1f1;
}

p {
	font-size: 30px;
	margin: 7px 0;
	color:  #f1f1f1;
}

button {
	margin: 20px 0 0 10vw;
	padding: 12px;
	font-size: 12px;
	width: 150px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	transition-duration: 1s;
	margin: 0 auto;
}

button:hover {
	color: var(--rouge);
}

.laptop {
	width: 70%;
	position: absolute;
	right: 12%;
}

/************************ RESEAU **************************/


strong {
  font-weight: 900;
}
.canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.canvas-wrapper .canvas + .canvas {
  margin-left: 40px;
}
.canvas {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  padding: 20px;
  color: inherit;
  text-decoration: none;
}
.canvas_border {
  position: absolute;
  top: 40px;
  left: -40px;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.canvas_border svg {
  height: 100%;
  width: 100%;
}
.rect-gradient {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: erase-line 1s ease-in-out forwards;
}
.canvas_img-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(-10deg) skew(-10deg);
  overflow: hidden;
  background: white;
}
.canvas_img {
  transform: scale3d(0.9, 0.9, 0.9);
  opacity: 0.3;
  max-width: 200px;
  max-height: 200px;
}
.canvas_copy {
  position: absolute;
  bottom: 0;
  left: 85%;
  text-transform: uppercase;
  color: #dac527;
  z-index: 100;
}
.canvas_copy--left {
  left: -25%;
}
.canvas_copy_title {
  font-size: 62px;
  display: block;
  transform: translateX(-80px);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  color: black;
}
.canvas_copy_title:nth-child(1) {
  transition-delay: 0.1s;
}
.canvas_copy_title:nth-child(2) {
  transition-delay: 0.2s;
}
.canvas_copy_subtitle {
  display: block;
  transform: rotate(270deg) translateY(-100%) translateX(calc(-100% - 80px));
  transform-origin: top left;
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 24px;
  font-weight: 900;
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.35s;
}
.canvas_copy_details {
  display: block;
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.14s;
  transform: translateX(-80px);
}
.canvas_border, .canvas_img-wrapper, .canvas_img {
  transition: all 0.25s ease-in-out 0s;
}
.canvas_border, .canvas_img-wrapper {
  transform: rotate(-10deg) skew(-10deg);
}
.canvas_copy_title, .canvas_copy_subtitle, .canvas_copy_details {
  opacity: 0;
}
.canvas:hover .canvas_copy_title, .canvas:hover .canvas_copy_subtitle, .canvas:hover .canvas_copy_details, .canvas:hover .canvas_img {
  opacity: 1;
}
.canvas:hover .canvas_border, .canvas:hover .canvas_img-wrapper {
  transform: rotate(-14deg) skew(-14deg) scale(0.96);
}
.canvas:hover .canvas_img {
  transform: scale3d(1, 1, 1);
}
.canvas:hover .canvas_copy_title, .canvas:hover .canvas_copy_details {
  transform: translateX(0);
}
.canvas:hover .canvas_copy_subtitle {
  transform: rotate(270deg) translateY(-100%) translateX(-100%);
}
.canvas:hover .rect-gradient {
  animation: draw-line 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@keyframes draw-line {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes erase-line {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2000;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
