* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg:#0C273C; 
}

body{
  max-width: 100%;
  scrollbar-width: thin; 
  scrollbar-color: #f00 #000; 
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background-color: #f00;
  border-radius: 20px;
  border: 3px solid #000;
}

/************************************************************/
.container-title button {
  cursor: pointer;
  flex: 1;
  padding: 15px 50px;
  margin: 25px;
  border-radius: 999px;
  border: 5px solid #fff;
  font-family: 'VT323', monospace;
  font-size: 25px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  color: #222;
  background: transparent;
  background: #fff;
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: 0.5s;
  filter: hue-rotate(200deg);
}

.container-title button:hover {
  background-position: 500% 100%;
  color: #fff;
  background: #222;
  border: 5px solid #222;
}

.container-title {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  background: var(--bg);
  position: flex;
  height: 130px;
}

/*****************************************/
.container-pp {
  width: 100%;
  height: 100vh;
  background-image: url('mactor.png');
  background-size: cover;
  background-position: center;
  animation: diapo 20s infinite;
  filter: grayscale(80%);
}

@keyframes diapo {
  0% {
    background-image: url('mactor.png');
  }

  25% {
    background-image: url(fight.png);
  }

  50%{
    background-image: url(affiche.png);
  }

  75%{
    background-image: url('mactor2.png');
  }


}

/*****************************************/
.wrapper {
  --color: #1F242D;
  --color-invert: #fff;
  --clip-path: circle(15px at left);
  --clip-path-hover: circle(70px at left);
  --clip-path-clicked: circle(100vw at left);
  --duration: 0.4s;
  --timing-function: ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background: #eee;
}
.wrapper .video {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  clip-path: var(--clip-path);
  transition: clip-path var(--duration) var(--timing-function);
}
.wrapper .video video {
  position: fixed;
  background: #c4cbde;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
.wrapper .text {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
  opacity: var(--opacity, 1);
  transition: opacity 0.3s var(--timing-function) 0.2s;
}
.wrapper .text::before, .wrapper .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  right: 25px;
  height: 0;
}
.wrapper .text::before {
  box-shadow: 26px 0 0 1px var(--color);
  right: var(--r, 100%);
  opacity: var(--opacity, 0);
  transition: right 0.5s ease-in, opacity 0.1s linear;
}
.wrapper .text::after {
  box-shadow: 26px 0 0 1px var(--color-invert);
  clip-path: var(--clip-path);
  transition: clip-path var(--duration) var(--timing-function);
}
.wrapper .text > span::before, .wrapper .text > span::after {
  content: attr(data-text);
  padding-left: 26px;
}
.wrapper .text > span::before {
  color: var(--color);
}
.wrapper .text > span::after {
  color: var(--color-invert);
  clip-path: var(--clip-path);
  transition: clip-path var(--duration) var(--timing-function);
  position: absolute;
  left: 0;
}
.wrapper input {
  width: 220px;
  height: 40px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 40px;
  outline: none;
  z-index: 2;
  appearance: none;
  cursor: pointer;
}
.wrapper input:focus {
  outline: 0;
}
.wrapper input:hover ~ .video {
  clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text::before {
  --r: 25px;
  --opacity: 1;
}
.wrapper input:hover ~ .text::after {
  clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text > span::after {
  clip-path: var(--clip-path-hover);
}
.wrapper input:checked {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.wrapper input:checked ~ .video {
  clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text {
  --opacity: 0;
  transition: opacity 0.3s var(--timing-function);
}
.wrapper input:checked ~ .text::after {
  clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text > span::after {
  clip-path: var(--clip-path-clicked);
}
/***************************/
.container-images{
  min-height: 100vh;
  text-align: center;
  align-items: center;
  width: 100%;
  background: var(--bg);
}


img {
  max-width: 100%;
}

.gallery {
  padding: 80px 0;
  align-items: center;
  text-align: center;
  height: 100%;
}

.gallery img {
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  cursor: pointer;

}

#gallery-modal .modal-img {
  width: 100%;
}

/*************************/
.container-steam {
  width: 100%;
  height: 400px;
  text-align: center;
  align-items: center;
  background: #eee;
}

.container-steam h2{
  padding: 100px;
}

.container-steam img{
  width: 15%;
}

/*********************/
.container-credits{
  width: 100%;
  height: 300px;
  text-align: center;
  align-items: center;
  background: var(--bg);
  padding: 125px;
}

.container-credits a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.container-credits .btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
}

.container-credits .btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  color: #f4f4f4;
}

.container-credits .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.container-credits .btn:hover:before {
  left: 100%;
}
/*******************/
.container-footer{
  text-align: center;
  width: 100%;
  min-height: 60vh;
  background: #222;
  padding: 20px;
}


.container-reseaux {
  padding: 30px;
  --bg2 : #222;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg2);
}

ul {
  position: relative;
  display: flex;
  gap: 50px;
}

ul li {
  position: relative;
  list-style: none;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}


ul li:hover {
  z-index: 10000;
  transform: scale(0.75);
}

ul li::before{
  content: '';
  position: absolute;
  inset: 30px;
  box-shadow: 0 0 0 10px var(--clr),0 0 0 20px var(--bg2),0 0 0 22px var(--clr);
  transition: 0.5s;
}


ul li:hover::before {
  inset: 0px  ;
}

ul li::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--bg2);
  transform: rotate(45deg);
}

ul li a {
  position: relative;
  text-decoration: none;
  color: var(--clr);
  z-index: 10;
  font-size: 2em;
  transition: 0.5s;
}

ul li:hover a {
  font-size: 3em;
  filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}

.container-footer h2,.container-footer h4 {
  color: white;
}

/*************************SLIDE IN***************************/
.title1 {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
}
.title1.active1 {
    transform: translateX(0%);
    opacity: 1;
}

.title2 {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
}
.title2.active2 {
    transform: translateX(0%);
    opacity: 1;
}

.title3 {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
}
.title3.active3 {
    transform: translateX(0%);
    opacity: 1;
}

.title4 {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
}
.title4.active4 {
    transform: translateX(0%);
    opacity: 1;
}

/*************/
@media screen and (max-width:1100px){
  .container-pp {
    width: 100%;
    height: 100vh;
    background-image: url('affiche.png');
    background-size: cover;
    background-position: center;
    filter: grayscale(80%);
  }

  ul li {
    list-style: none;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }

  .wrapper{
    display: none;
  }

}